name: Test Package

on:
 workflow_dispatch:
    inputs:
      package:
        description: The package name to test
        required: true
      package_url:
        description: The package URL
        required: true
      package_version:
        description: The package version
        required: true
      salt_versions:
        description: The salt versions to test the package against
        required: true
      python_versions:
        description: The Linux Python versions to test against
        required: true

jobs:

  Results-Cache:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        package:
          - ${{ github.event.inputs.package }}
        python-version: ${{ fromJSON(github.event.inputs.python_versions) }}
        salt-version: ${{ fromJSON(github.event.inputs.salt_versions) }}

    steps:

      - name: Configure the results cache
        uses: pat-s/always-upload-cache@v2.1.0
        with:
          path: .cache/results
          key: |
            cache-results
            ${{ hashFiles('.cache/results/**') }}

      - name: Set Results Cache Path
        run: echo "RCACHE_DIR=.cache/results/${{ github.event.inputs.package }}/${{ github.event.inputs.package_version }}/${{ matrix.salt-version }}/py${{ matrix.python-version }}" >> $GITHUB_ENV

      - name: Results Cache Setup
        run: |
          mkdir -p ${{ env.RCACHE_DIR }}

  Linux:
    runs-on: ubuntu-latest
    needs: Results-Cache

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        package:
          - ${{ github.event.inputs.package }}
        python-version: ${{ fromJSON(github.event.inputs.python_versions) }}
        salt-version: ${{ fromJSON(github.event.inputs.salt_versions) }}

    steps:

      - name: Configure the results cache
        uses: pat-s/always-upload-cache@v2.1.0
        with:
          path: .cache/results
          key: |
            cache-results
            ${{ hashFiles('.cache/results/**') }}

      - name: Add job run to results cache
        run: |
          export RCACHE_DIR=.cache/results/${{ github.event.inputs.package }}/${{ github.event.inputs.package_version }}/${{ matrix.salt-version }}/py${{ matrix.python-version }}
          echo https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID > $RCACHE_DIR/${{ runner.os }}.run

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download And Extract ${{ github.event.inputs.package }}
        run: |
          mkdir pkg
          cd pkg
          curl -Ls ${{ github.event.inputs.package_url }} | tar zxvf - --strip 1
          ls -lah

      - name: Install Nox
        run: |
          python -m pip install --upgrade pip
          pip install nox

      - name: Test
        env:
          SALT_REQUIREMENT: salt==${{ matrix.salt-version }}
        run: |
          cd pkg
          nox --force-color -e tests-3 -- -vv tests/

  Windows:
    runs-on: windows-latest
    needs: Results-Cache

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        package:
          - ${{ github.event.inputs.package }}
        python-version: ${{ fromJSON(github.event.inputs.python_versions) }}
        salt-version: ${{ fromJSON(github.event.inputs.salt_versions) }}

    steps:

      - name: Configure the results cache
        uses: pat-s/always-upload-cache@v2.1.0
        with:
          path: .cache/results
          key: |
            cache-results
            ${{ hashFiles('.cache/results/**') }}

      - name: Add job run to results cache
        shell: bash
        run: |
          export RCACHE_DIR=.cache/results/${{ github.event.inputs.package }}/${{ github.event.inputs.package_version }}/${{ matrix.salt-version }}/py${{ matrix.python-version }}
          echo https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID > $RCACHE_DIR/${{ runner.os }}.run

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download And Extract ${{ github.event.inputs.package }}
        shell: bash
        run: |
          mkdir pkg
          cd pkg
          curl -Ls ${{ github.event.inputs.package_url }} | tar zxvf - --strip 1
          ls -lah

      - name: Install Nox
        run: |
          python -m pip install --upgrade pip
          pip install nox

      - name: Test
        env:
          SALT_REQUIREMENT: salt==${{ matrix.salt-version }}
          EXTRA_REQUIREMENTS_INSTALL: Cython
        run: |
          cd pkg
          nox --force-color -e tests-3 -- -vv tests/

  macOS:
    runs-on: macOS-latest
    needs: Results-Cache

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        package:
          - ${{ github.event.inputs.package }}
        python-version: ${{ fromJSON(github.event.inputs.python_versions) }}
        salt-version: ${{ fromJSON(github.event.inputs.salt_versions) }}

    steps:

      - name: Configure the results cache
        uses: pat-s/always-upload-cache@v2.1.0
        with:
          path: .cache/results
          key: |
            cache-results
            ${{ hashFiles('.cache/results/**') }}

      - name: Add job run to results cache
        run: |
          export RCACHE_DIR=.cache/results/${{ github.event.inputs.package }}/${{ github.event.inputs.package_version }}/${{ matrix.salt-version }}/py${{ matrix.python-version }}
          echo https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID > $RCACHE_DIR/${{ runner.os }}.run

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Download And Extract ${{ github.event.inputs.package }}
        run: |
          mkdir pkg
          cd pkg
          curl -Ls ${{ github.event.inputs.package_url }} | tar zxvf - --strip 1
          ls -lah

      - name: Install Nox
        run: |
          python -m pip install --upgrade pip
          pip install nox

      - name: Test
        env:
          SALT_REQUIREMENT: salt==${{ matrix.salt-version }}
        run: |
          cd pkg
          nox --force-color -e tests-3 -- -vv tests/
